<div class="container">
  <div class="footer">
    <div class="footer-item"><a href="https://discord.gg/8qtbuKjKfG">Discord</a></div>
    <div class="footer-item"><a href="https://etherscan.io/token/0x3aaDA3e213aBf8529606924d8D1c55CbDc70Bf74">Etherscan</a></div>
    <div class="footer-item"><a href="https://github.com/0xmons">GitHub</a></div>
    <div class="footer-item"><a href="https://t.me/nft000">Telegram</a></div>
    <div class="footer-item"><a href="https://twitter.com/0xmons">Twitter</a></div>
    <div class="footer-item"><a href="https://info.uniswap.org/account/0x056590F16D5b314a132BbCFb1283fEc5D5C6E670">Uniswap</a></div>
  </div>
</div>